/*
table {
  width: 100%;
  table-layout: fixed;
}

th, td {
  overflow: hidden;
  width: 100px;
  text-overflow: ellipsis;
  white-space: nowrap;
} */

div.static {
  position: static;
  border: 2px solid #818181;
  width: 820px;
  overflow: auto;
  max-width: 100%;
  height: auto;
}

.mat-table{
    background-color: rgba(255, 255, 255, 0.959);
    height : 100vh;
    overflow: auto;   
    width: 1123px;
    max-height: 500px;
    border: 0;

}
.mat-header-cell, .mat-cell {
    min-width: 150px;
}

.mat-row, .mat-header-row {
    min-width: 2800px;
    width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

.fafaicon {
   font-size:20px;
}

.search-bar {
  width: 450px; 
  margin-left: 5px;
}

.example-button {
  margin-top: 16px;
  margin-left: 650px; 
}

.example-tooltip-red {
  background: #b71c1c;
}