
table {
  width: 100%;
  table-layout: fixed;
}

th, td {
  overflow: hidden;
  width: 100px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

