
table {
  width: 100%;
  table-layout: fixed;
}

th, td {
  overflow: hidden;
  width: 100px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

th.mat-sort-header-sorted {
  color: black;
}

.fafaicon {
   font-size:20px;
}

.search-bar {
  width: 450px; 
  margin-left: 5px;
}

.example-button {
  margin-top: 16px;
  margin-left: 650px; 
}

.example-tooltip-red {
  background: #b71c1c;
}