<main>
  <section class="check-mail section-padding">
      <div class="container pt-lg-md">
          <div class="row justify-content-center">
              <div class="col-lg-5 col-md-6">
                  <div class="card border-0">
                      <div class="card-header bg-white border-0">
                          <div class="text-center">
                              <i class="fas fa-envelope-open-text custom-icon mb-3"></i>
                              <h3>Please activate your account by verifying your email</h3>
                              <p>{{message}}</p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
</main>
