<footer class="footer">
    <div class="container">
        <div class="row mb-3">
            <div class="col-md-6">
                <img src="assets/img/careerly-logo.png">
            </div>
            <div class="col-md-6 counting">
                <ul>
                    <li>
                        <h4>{{totalJobs}} <span>TOTAL JOBS POSTED</span></h4>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="footer-big">
                    <div class="row">
                        <div class="col-md-6">
                            <h6 class="footer-widget-title">Product</h6>
                            <ul>
                                <li>
                                    <a [routerLink]="['/products']">Products</a>
                                </li>
                                <li>
                                    <a [routerLink]="['/pricing']">Pricing</a>
                                </li>
                                <li>
                                    <a [routerLink]="['/company-register']">Company</a>
                                </li>
                                <li>
                                    <a href="#">Questions Pack</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <h6 class="footer-widget-title">Support</h6>
                            <ul>
                                <li>
                                    <a href="#">Help Center</a>
                                </li>
                                <li>
                                    <a href="#">Chat</a>
                                </li>
                                <li>
                                    <a href="#">Email</a>
                                </li>
                                <li>
                                    <a href="#">Call us</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h6>Email Newsletters</h6>
                <p class="text-muted">Keep me up to date with content, updates, and offers from Careerly</p>
                <div class="input-group mb-3">
                    <form class="input-group mb-3" method="POST" #emailForm="ngForm">
                        <input type="text" class="form-control custom-form-control" placeholder="Email address"
                            aria-label="Email address" aria-describedby="button-addon2"
                            pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$" name="email" maxlength="100"
                            [(ngModel)]="Email" #email="ngModel" required>
                        <div class="input-group-append">
                            <button type="submit" [disabled]="emailForm.form.invalid" class="btn btn-info pr-5 pl-5" type="button" id="button-addon2"
                                (click)="subscribe()">SUBSCRIBE</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <hr>
        <div class="row mb-3">
            <div class="col-md-6">
                <ul class="nav nav-footer mt-1">
                    <li class="nav-item">
                        <a href="" class="nav-link">Privacy Policy</a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link">Terms and Conditions</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-6 text-right language">
                <div class="form-check form-check-inline mr-0">
                    <label class="form-check-label text-muted mr-2" for="inlineCheckbox1">LANGUAGE:</label>
                    <select class="form-control form-control-sm">
                        <option>ENGLISH</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="copyright mt-2 text-muted">
                    &copy; 2019 <a (click)="gotoHome()">Careerly</a> - All Rights Reserved. Made with <span
                        style="color: red">Love.</span>
                </div>
            </div>
            <div class="col-md-6 text-right footer-icons">
                <a href="https://www.facebook.com/r.php?locale=EN_US&campaign_id=973072202&extra_1=s%7Cc%7C256737974095%7Cb%7Cwww%20faceboook%7C&placement=&creative=256737974095&keyword=www%20faceboook&partner_id=googlesem&extra_2=campaignid%3D973072202%26adgroupid%3D49357331998%26matchtype%3Db%26network%3Dg%26source%3Dnotmobile%26search_or_content%3Ds%26device%3Dc%26devicemodel%3D%26adposition%3D1t1%26target%3D%26targetid%3Dkwd-517541620072%26loc_physical_ms%3D9062088%26loc_interest_ms%3D%26feeditemid%3D19894516786%26param1%3D%26param2%3D&gclid=CjwKCAjwyqTqBRAyEiwA8K_4Ow75iLWSZvbtSWntEghZGxqZh6Ce8n2mAS4LATuNK0JP2IUdoT8qOhoCEz0QAvD_BwE"
                    target="_blank">
                    <i class="fa fa-facebook-f"></i>
                </a>
                <a href="https://twitter.com/login" target="_blank">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="https://accounts.google.com/ServiceLogin/identifier?elo=1&flowName=GlifWebSignIn&flowEntry=AddSession"
                    target="_blank">
                    <i class="fab fa-google-plus-g"></i>
                </a>
                <a href="https://www.instagram.com/accounts/login/" target="_blank">
                    <i class="fab fa-instagram"></i>
                </a>
            </div>
        </div>
    </div>
</footer>