<div class="container">
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
			<div class="panel panel-default" style="border-color: rgb(133, 133, 247)">
				<div class="panel">
					<div class="text-center">
				<h3>
					<i class="fa fa-user-o" style="font-size:36px"></i>
				</h3>
				<h2 class="text-center">Sign In </h2>
				<div class="panel">
	
  
  	<form [formGroup] = "loginForm" (ngSubmit) = "loginForm.valid && onSubmit()"      class="col s12 white" >
				
       <div class="form-group">
									<label for="email">E-mail</label>
									<input type="email" 
                  class="form-control" 
                  formControlName="email" 
                  id="email" 
                  placeholder="Enter Email"
                  [ngClass]="{'is-invalid':loginForm.get('email').touched && loginForm.get('email').invalid}"/>
									
                  <div *ngIf="loginForm.get('email').touched &&         loginForm.get('email').invalid" class="invalid-feedback">
									<div *ngIf="loginForm.get('email').errors.required">Email is required 
                  </div>
									<div *ngIf="loginForm.get('email').errors.email">
                  Email must be valid email address                          </div>
									</div>
								</div>

				          <div class="form-group">
									<label for="password">Password</label>
									<input type="password" 
                  formControlName="password" 
                  class="form-control" 
                  id="password" 
                  placeholder="Enter Password"  
                  [ngClass]="{'is-invalid':loginForm.get('password').touched && loginForm.get('password').invalid}"/>
									<div *ngIf="loginForm.get('password').touched &&         loginForm.get('password').invalid" class="invalid-feedback">
									<div *ngIf="loginForm.get('password').errors.required">Password is required 
                  </div>
									<div *ngIf="loginForm.get('password').errors.minlength">
                  password must be at least 6 characters</div>
									</div>
								</div>


          <div class="clearfix">
           <div class="float-left">
           <div class="custom-control custom-control-alternative custom-checkbox">
           <label class="custom-control-label"
           for="customCheckLogin"><span>Remember me</span></label>
           <input class="custom-control-input" 
           id="customCheckLogin"
           type="checkbox" 
           name="rememberMe"
           formControlName="rememberMe"
           (change)="SetRememberMe(rememberMe?'1':'0')">
            </div>
            </div>
      </div>
			<button type="submit" [disabled]= "!loginForm.valid" class="btn btn-primary btn-block"> Submit</button>
		</form>
					<a [routerLink]="['/register']" class="btn btn-link">Sign-up</a>
					<a (click)="gotoforgotpassword()" class="btn btn-link">Forget Password</a>
			</div>
			</div>
		</div>
	</div>
	</div>
	</div>
</div>