<main>
  <section class="forgot-password section-padding">
      <div class="container pt-lg-md">
          <div class="row justify-content-center">
              <div class="col-lg-5 col-md-6">
                  <div class="card border-0">
                      <div class="card-header layout-card-header bg-white border-0">
                          <div class="text-center">
                              <h3>Forgot your Password?</h3>
                              <p>Don't worry! Reseting your password is easy. Just type in the email your registered email to shoparena </p>
                          </div>
                      </div>
                      <div class="card-body layout-card-body">
                          <form [formGroup]="forgotPasswordForm" (ngSubmit)="forgotPasswordForm.valid && onSubmit()">
                              <div class="form-group mb-3">
                                    <input class="form-control custom-form-control" placeholder="Enter your email address" type="text"
                                    pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$" required name="Email" maxlength="100"
                                        formControlName="userName">
                                  <span class="fa fa-info-circle errspan" *ngIf="forgotPasswordForm.get('userName').errors && (forgotPasswordForm.get('userName').dirty || forgotPasswordForm.get('userName').touched)"
                                    placement="bottom" ngbTooltip="Please enter valid email address." tooltipClass="my-custom-class"></span>
                              </div>

                              <div class="text-center">
                                  <button type="button" class="btn btn-block btn-info mt-4" 
                                  [disabled]="!forgotPasswordForm.valid" (click)="sendEmail()">SEND</button>
                              </div>
                          </form>
                      </div>
                      <div class="card-footer layout-card-footer bg-white border-0">
                          <p class="text-center mb-0">Did you remembered your password? 
                <a [routerLink]="['/login']" class="btn btn-link"> Try Logging In </a></p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
</main>
