<mat-form-field>
	<mat-label>Search</mat-label>
	<input matInput (keyup)="applyFilter($event.target.value)" placeholder="Ex. ium"> </mat-form-field>
<mat-toolbar class="toolbar">
	<mat-card-title>Product</mat-card-title> <span class="toolbar-spacer"></span>
	<mat-icon (click)="addProduct()">add</mat-icon>
</mat-toolbar>

<div class="static">
    
	<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
			<ng-container matColumnDef="orderId">
				<th mat-header-cell mat-sort-header *matHeaderCellDef> Order Id </th>
				<td mat-cell *matCellDef="let element"> {{element.order.orderId}} </td>
			</ng-container>
			<ng-container matColumnDef="orderDate">
				<th mat-header-cell mat-sort-header *matHeaderCellDef> orderDate </th>
				<td mat-cell *matCellDef="let element"> {{element.order.orderDate}} </td>
			</ng-container>
			<ng-container matColumnDef="total">
				<th mat-header-cell mat-sort-header *matHeaderCellDef> Total Amount  </th>
				<td mat-cell *matCellDef="let element"> {{element.order.total}} </td>
			</ng-container>
	
			<ng-container matColumnDef="isOrderCompleted">
				<th mat-header-cell mat-sort-header *matHeaderCellDef> Status </th>
				<td mat-cell *matCellDef="let element"> {{element.order.isOrderCompleted}} </td>
			</ng-container>
			<ng-container matColumnDef="customerId">
				<th mat-header-cell *matHeaderCellDef> customerId </th>
				<td mat-cell *matCellDef="let element" >{{element.order.customer.customerId}}</td>
			</ng-container>
			<ng-container matColumnDef="customerName">
				<th mat-header-cell mat-sort-header *matHeaderCellDef> Customer Name </th>
				<td mat-cell *matCellDef="let element"> {{element.order.customer.customerName}} </td>
			</ng-container>
			<ng-container matColumnDef="email">
				<th mat-header-cell *matHeaderCellDef> email </th>
				<td mat-cell *matCellDef="let element"> {{element.order.customer.email}} </td>
			</ng-container>

      <ng-container matColumnDef="phone">
				<th mat-header-cell *matHeaderCellDef> Phone </th>
				<td mat-cell *matCellDef="let element"> {{element.order.customer.phone}} </td>
			</ng-container>

      <ng-container matColumnDef="productId">
				<th mat-header-cell *matHeaderCellDef> productId </th>
				<td mat-cell *matCellDef="let element"> {{element.product.productId}} </td>
			</ng-container>

      <ng-container matColumnDef="productName">
				<th mat-header-cell *matHeaderCellDef> productName </th>
				<td mat-cell *matCellDef="let element"> {{element.product.productName}} </td>
			</ng-container>

      
      <ng-container matColumnDef="price">
				<th mat-header-cell *matHeaderCellDef> Productt price </th>
				<td mat-cell *matCellDef="let element"> {{element.product.price}} </td>
			</ng-container>

      
      <ng-container matColumnDef="offerPrice">
				<th mat-header-cell *matHeaderCellDef>  Productt off. price </th>
				<td mat-cell *matCellDef="let element"> {{element.product.offerPrice}} </td>
			</ng-container>
			<!-- Action Column -->
			<ng-container matColumnDef="action">
				<th mat-header-cell *matHeaderCellDef> Action </th>
				<td mat-cell *matCellDef="let element" class="action-link">
					<mat-icon  (click)="addProductImage(element.productId)">insert_photo </mat-icon>
					<mat-icon (click)="editProduct(element)">edit</mat-icon>
					<mat-icon (click)="deleteProduct(element)">delete</mat-icon>
				</td>
			</ng-container>
			<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
			<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
	</table>
     
	<mat-card *ngIf="isLoading" style="display: flex; justify-content: center; align-items: center">
         <mat-progress-spinner diameter="50" color="primary" mode="indeterminate">
         </mat-progress-spinner>
        </mat-card>
</div>
<mat-paginator [pageSizeOptions]="[5, 10, 20]"></mat-paginator>


