<nav>
  <a class="pointer-cursor" (click)="goToProduct()">product</a> /
  <a routerLink="#" class="disabled">images</a> 
</nav>

<div class="static-form mt-3">
<form [formGroup]="productImageForm" (ngSubmit)="onSubmit()">
		<div class="form-group row mt-4">
			<div class="col-sm-5 ml-2">
				<input type="file" class="form-control-" formControlName="file" id="file" multiple="" (change)="onFileChange($event)"> 
        </div>
        <button type="submit" class="btn btn-primary">Upload</button>
		</div>
		<div class="row ml-2 img-thumbnail" *ngFor='let url of images | slice:1'> 
			 <img [src]="url" height="100px" width="100px" style="margin: 4px; vertical-align: text-top;"><span class="delete-entry" style="cursor: pointer; padding: 12px;" (click)="deleteImage(url)">x</span>
      <br/>
    </div>
	</form>
  </div>

<mat-toolbar class="toolbar mt-2">
	<h4>Product Images List</h4>
</mat-toolbar>

<div class="static">
	<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
		
    	<ng-container matColumnDef="serialNumber">
				<th mat-header-cell *matHeaderCellDef> SrNo. </th>
				<td mat-cell *matCellDef="let element; let i = index;"> {{i+1}} </td>
			</ng-container>

      <ng-container matColumnDef="imageId">
				<th mat-header-cell *matHeaderCellDef> Image Id </th>
				<td mat-cell *matCellDef="let element">{{element.imageId}}</td>
			</ng-container>
		
			<ng-container matColumnDef="location">
				<th mat-header-cell *matHeaderCellDef> Image </th>
				<td mat-cell *matCellDef="let element"><img style="max-height:30%; max-width:30%" src={{element.location}}/></td>
			</ng-container>
			
			<!-- Action Column -->
			<ng-container matColumnDef="action">
				<th mat-header-cell *matHeaderCellDef> Action </th>
				<td mat-cell *matCellDef="let element" class="action-link">
					<mat-icon class="pointer-cursor" (click)="deleteProductImage(element)">delete</mat-icon>
				</td>
			</ng-container>
			<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
			<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
	</table>
    
  <mat-card *ngIf="isLoading" style="display: flex; justify-content: center; align-items: center">
    <mat-progress-spinner diameter="50" color="primary" mode="indeterminate">
    </mat-progress-spinner>
  </mat-card>
</div>
