
.static {
  position: static;
  width: 100%;
  max-width: 100%;
  height: auto;
  overflow: auto;
}

.static-form {
  position: static;
  border: 1px solid #818181;
  width: 100%;
  max-width: 100%;
  height: auto;
}


.toolbar{
  background-color: #3f51b5;
  color: white; 
  max-width: 100%;
  width: 100%;
  margin-bottom: 2px;
  height: 45px;
}

/* Mat Table*/
table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #818181;
  padding: 0.5rem;
  text-align: center;
}

.mat-header-cell{
  font-size: 14px;
  font-weight: bold;
}

.pointer-cursor{
  cursor: pointer;
}

/*Mat Table*/
