<nav>
  <a (click)="goToProduct()">product</a> /
  <a href="#">product images</a> 
</nav>

<div class="static mt-3">
<form [formGroup]="productImageForm" (ngSubmit)="onSubmit()">
		<div class="form-group row mt-4">
			<div class="col-sm-5 ml-2">
				<input type="file" class="form-control-" formControlName="file" id="file" multiple="" (change)="onFileChange($event)"> 
        </div>
        <button type="submit" class="btn btn-primary">Upload</button>
		</div>
		<div class="row ml-2 img-thumbnail"> <img *ngFor='let url of images' [src]="url" height="100" width="100px" style="margin: 3px;">
			<br/>
    </div>
	</form>
  </div>

<mat-toolbar class="toolbar mt-3">
	<h4>Product Images List</h4>
</mat-toolbar>

<div class="static">
	<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
		
    	<ng-container matColumnDef="serialNumber">
				<th mat-header-cell *matHeaderCellDef> SrNo. </th>
				<td mat-cell *matCellDef="let element; let i = index;"> {{i+1}} </td>
			</ng-container>
		
			<ng-container matColumnDef="imgUrl">
				<th mat-header-cell *matHeaderCellDef> Image </th>
				<td mat-cell *matCellDef="let element"><img style="max-height:40%; max-width:40%" src={{element.imgUrl}}/></td>
			</ng-container>
			
			<!-- Action Column -->
			<ng-container matColumnDef="action">
				<th mat-header-cell *matHeaderCellDef> Action </th>
				<td mat-cell *matCellDef="let element" class="action-link">
					<mat-icon class="pointer-cursor" (click)="deleteProduct(element)">delete</mat-icon>
				</td>
			</ng-container>
			<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
			<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
	</table>
    
  <mat-card *ngIf="isLoading" style="display: flex; justify-content: center; align-items: center">
    <mat-progress-spinner diameter="50" color="primary" mode="indeterminate">
    </mat-progress-spinner>
  </mat-card>
</div>
