<div class="container text-center">
  <h3>ABOUT US</h3>
  <p><em>Management Team</em></p>
  <hr>
  <br>
  <div class="row">

    <div class="col-sm-12">
    <p><strong>Founder Chetan Bendkule</strong></p><br>
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="..assets/founder.jpg" alt="founder">
      <div class="card-body">
      <p class="card-text">Some quick example text 
        to build on the card title and make up the bulk of the card's content.</p>
      </div>
   </div>
 
    </div>

    
   
  </div>
</div>
