<div class="container text-center">

  <div class="row" style="margin-top: -10%;">
  <div class="col-md-4 offset-md-4">
    <div class="card mt-4" style="width: 22rem;">
     <div clas="card-header">
       <h3>ABOUT US</h3>
      <p><em>Management Team</em></p><br>
      <p><strong>Founder Mr.Chetan Bendkule, B.E</strong></p><p>Partner</p>
     </div>
      <img class="card-img-top rounded-circle" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRNm7Key9csCcTBohbTJP7rIFG-MX3duw9mk8UABWtxWUwHPRIi&usqp=CAU" alt="founder">
      <div class="card-body">
      <p class="card-text">Founder / Promoter- Qualified Engineer and Marketing whiz. He is known for his vision , analytical ability to articulate his ideas to others, leading figure in the business circles and a active Rotatrian and past president of the CASHEV DRY FRUITS and was instrumental in taking the business to great heights and has over 10 years experience in the cashew processing business.</p>
      </div>
   </div>
    </div>
  </div>
</div>
