ng-sidebar-container {
  height: 100vh;
  flex-wrap: 
}

::ng-deep .ng-sidebar {
   background-color: #f4f4f4;
   width: 20%;
   padding: 2em 3em;
   box-shadow: 0 0 2.5em rgba(0, 0, 0, 0.5)
}
.menu{
  margin-top: 2em;
  display: block;
}

.menu li a {
  width: 100%;
  display: block;
} 

.menu li {
  margin-bottom: 15px;
} 