
<ul>
<li  class="nav-item active">
        <a class="nav-link" routerLink = "user">User</a>
      </li>
<li  class="nav-item active">
        <a class="nav-link" routerLink = "order">Order</a>
      </li>
<li  class="nav-item active">
        <a class="nav-link" routerLink = "product">Product</a>
</li>
<li  class="nav-item active">
        <a class="nav-link" routerLink = "category">Category</a>
</li>
</ul>
<div class= "container">
<div class="row">

<router-outlet></router-outlet>
</div>
</div>
