<ng-sidebar-container> 
   
   <ng-sidebar [opened]="opened">
        <button  (click)="toggleSidebar()">Closed sidebar</button>
          <ul class="menu">
             <li class="nav-item active">
              <a class="nav-link" (click)="toggleSidebar()" routerLink = "user">Dashboard</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" (click)="toggleSidebar()" routerLink = "user">User</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" (click)="toggleSidebar()" routerLink = "order">Order</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" (click)="toggleSidebar()" routerLink = "product">Product</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" (click)="toggleSidebar()" routerLink = "category">Category</a>
            </li> 
          </ul>
   </ng-sidebar>
   <div ng-sidebar-content>
     <button (click)="toggleSidebar()">open sidebar</button>
         <router-outlet></router-outlet>
   </div>

</ng-sidebar-container>

