<div class="wrapper">
  <h1>Our team</h1>

  <div class="team">
    <div class="team_member">
      <h3>Chetan Bendkule</h3>
      <p class="role">Founder</p>
      <p>Founder / Promoter- Qualified Engineer and Marketing whiz. He is known for his vision , analytical ability to articulate his ideas to others, leading figure in the business circles and a active Rotatrian and past president of the CASHEV DRY FRUITS and was instrumental in taking the business to great heights and has over 10 years experience in the cashew processing business.</p>
    </div>

    <div class="team_member">
      <h3>Nalin kode</h3>
      <p class="role">Co-Founder</p>
      <p>Founder / Promoter- Qualified Engineer and Marketing whiz. He is known for his vision , analytical ability to articulate his ideas to others, leading figure in the business circles and a active Rotatrian and past president of the CASHEV DRY FRUITS and was instrumental in taking the business to great heights and has over 10 years experience in the cashew processing business.</p>
    </div>

    <div class="team_member">
      <h3>Mahesh Khairnar</h3>
      <p class="role">Manager</p>
      <p>Founder / Promoter- Qualified Engineer and Marketing whiz. He is known for his vision , analytical ability to articulate his ideas to others, leading figure in the business circles and a active Rotatrian and past president of the CASHEV DRY FRUITS and was instrumental in taking the business to great heights and has over 10 years experience in the cashew processing business.</p>
    </div> 
  </div>
     

</div>