@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  background: #3f51b5;
}

.wrapper {
   margin-top: 10%;
   padding: 6px;
}

.wrapper h1 {
  font-size: 50px;
  margin-bottom: 60px;
  text-align: center;
  
}

.team {
  display: flex;
  text-align: center;
  width: auto;
  justify-content: center;
  flex-wrap: wrap;
}

.team .team_member {
  background: #fff;
  margin: 5px;
  margin-bottom: 50px;
  width: 300px;
  padding: 2px;
  line-height: 20px;
  color: #8e8b8b;
  position: relative;
}

.team .team_member h3 {
  color: #3f51b5;
  font-size: 26px;
  margin-top: 50px;

}
.team .team_member p.role {
  color: #00;
  font-size: 12px;
  text-transform: uppercase;
  margin: 12px 0;
}

.team .team_member .team_image {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
}

.team .team_member .team_image img {
    width: 100px;
    height: 100px;
    padding: 10px;
}