* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  background: #80b3ff;
 
}

.wrapper {
   margin-top: 10%;
}

.wrapper h1 {
  font-size: 50px;
  margin-bottom: 60px;
  text-align: center;
}

.team {
  display: flex;
  text-align: center;
  width: auto;
  justify-content: center;
}

.team .team_member {
  background: #fff;
  margin: 5px;
  margin-bottom: 50px;
  width: 300px;
  padding: 2px;
  line-height: 20px;
  color: #8e8b8b;
  position: relative;
}

.team .team_member h3 {
  color: #81c644;
  font-size: 26px;
  margin-top: 50p
}