<!--
<main>
    <section class="reset-password section-padding">
        <div class="container pt-lg-md">
            <div class="row justify-content-center">
                <div class="col-lg-5 col-md-6">
                    <div class="card border-0">
                        <div class="card-header layout-card-header bg-white border-0">
                            <div class="text-center">
                                <h3>Reset your Password?</h3>
                                <p>What would you like your new password to be?</p>
                            </div>
                        </div>
                        <div class="card-body layout-card-body">
                            <form role="form">
                                <div class="form-group mb-3">
                                    <input class="form-control custom-form-control" placeholder="New Password" minlength="6"
                                        type="password" required name="Password" 
                                        (keydown.space)="$event.preventDefault()">
                                      
                                    <span class="fa fa-info-circle errspan"
                                        *ngIf="Password.errors && (Password.dirty || Password.touched)"
                                        placement="bottom"
                                        ngbTooltip="Password must contain minimum six characters"
                                        tooltipClass="my-custom-class"></span>
                                </div>
                                <div class="form-group mb-3">
                                    <input class="form-control custom-form-control" placeholder="Confirm Password" minlength="6"
                                        type="password" required name="confPassword"  (keydown.space)="$event.preventDefault()">

                                    <span class="fa fa-info-circle errspan"
                                        *ngIf="confPassword.errors && (confPassword.dirty || confPassword.touched)"
                                        placement="bottom"
                                        ngbTooltip="Password must contain minimum six characters"
                                        tooltipClass="my-custom-class"></span>
                                </div>
                                <div class="text-center">
                                    <button type="button" class="btn btn-block btn-info mt-4" (click)="reset()">Reset
                                        Password</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
-->
<main>
    <section class="reset-password section-padding">
<div class="body text-center mt-15">
	<form class="form-signin justify-content-center" [formGroup]="resetPasswordForm" (ngSubmit)="resetPasswordForm.valid && onSubmit()"> 
  
		<h3 class="h3 mb-3 font-weight-normal">Reset your Password?</h3>
    <p>What would you like your new password to be?</p>
    
    <label for="newPassword" class="sr-only">New password</label>
		<input type="password" id="newPassword" class="form-control" placeholder="New password" formControlName="newPassword" required autofocus>
	 <span class="fa fa-info-circle errspan"
            *ngIf="resetPasswordForm.get('newPassword').errors && (resetPasswordForm.get('newPassword').dirty || resetPasswordForm.get('newPassword').touched)" placement="bottom" ngbTooltip="Password must contain minimum six characters"
            tooltipClass="my-custom-class"></span>
		
    <label for="confirmedPassword" class="sr-only">Confirmed password</label>
		<input type="password" id="confirmedPassword" class="form-control" placeholder="Confirmed password" formControlName="confirmedPassword" required autofocus>
	 <span class="fa fa-info-circle errspan"
            *ngIf="resetPasswordForm.get('confirmedPassword').errors && (resetPasswordForm.get('confirmedPassword').dirty || resetPasswordForm.get('confirmedPassword').touched)" placement="bottom" ngbTooltip="Password must contain minimum six characters"
            tooltipClass="my-custom-class">
    </span>
		
    <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="!resetPasswordForm.valid">Sign in</button> 
  
	</form>
</div>
  </section>
</main>