
<mat-card-header>
  <mat-toolbar class="custoolbar">
    <mat-card-title>Add Product</mat-card-title>
    <span class="toolbar-spacer"></span>
    <mat-icon (click)="onNoClick()">cancel</mat-icon>
  </mat-toolbar>
</mat-card-header>


<mat-card-content>
  <div class="container">
    <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
    

    <div class="row">
      <div class="col-md-3">
      <label>Product Name </label>
      <input type="text" formControlName="productName" class="form-control">
      </div>
      
      <div class="col-md-3">
    <select class="custom-select drop-down" (change)="changeCategory($event)" formControlName="category">
       <option value="" disabled >Choose your category</option>
      <option *ngFor="let category of Category" [ngValue]="category">{{category}}</option>
    </select>
      </div>


   <div class="col-md-3">
    <select class="custom-select drop-down" (change)="changeSubcategory($event)" formControlName="subCategory">
       <option value="" disabled >Choose your Subcategory</option>
      <option *ngFor="let subCategory of subCategory" [ngValue]="subCategory">{{subCategory}}</option>
    </select>
      </div>


    </div>

    <div class="row">
      <div class="col-md-3">
      <label>Price</label>
      <input type="text" formControlName="price" class="form-control">
      </div>

      
      <div class="col-md-3">
      <label>Offer Price</label>
      <input type="text" formControlName="offerprice" class="form-control">
      </div>

      <div class="col-md-3">
      <label for="validationTextarea">Description</label>
        <textarea class="form-control" id="validationTextarea" formControlName="description"  placeholder="Description" required></textarea>
      </div>
      
    </div>

    <div class="row">
      <button type="submit" claas="btn btn-success"><mat-icon>save</mat-icon></button>
    </div>
    </div>

     </form>
  </div>
</mat-card-content>



