<mat-card>
<mat-card-header>
  <mat-toolbar class="toolbar">
    <mat-card-title>Add Product</mat-card-title>
    <span class="toolbar-spacer"></span>
    <mat-icon (click)="onNoClick()">cancel</mat-icon>
  </mat-toolbar>
</mat-card-header>

<mat-card-content>
  <div class="container">
    <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
    

    <div class="row">
      <div class="col-md-6">
      <label>Product Name </label>
      <input type="text" formControlName="productName" class="form-control">
      </div>

      <div class="col-md-6">
      <label>Category</label>
      <input type="text" formControlName="category" class="form-control">
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
      <label>Price</label>
      <input type="text" formControlName="price" class="form-control">
      </div>

      <div class="col-md-6">
      <label>Description</label>
      <input type="text" formControlame="description" class="form-control">
      </div>
    </div>

    <div class="row">
      <button type="submit" claas="btn btn-success"><mat-icon>save</mat-icon></button>
    </div>
    </div>

     </form>
  </div>
</mat-card-content>
</mat-card>