.contact-body {
  padding: 0px;
  margin: 0px;
  font-family: sans-serif;
}

.container {
  width: 90%;
  margin: auto;
  overflow: hidden
}

.contact-section {
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  padding-bottom: 2%;
}

.contact-section .container h2 {
  text-align: center;
  text-decoration: underline;
  text-underline-position: under;
  color: rgb(238, 238, 238);
  letter-spacing: 2px;
}