@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Jura&family=Oswald&display=swap');

.contact-body {
  padding: 0px;
  margin: 0px;
  font-family: sans-serif;
}

.container {
  width: 90%;
  margin: auto;
  overflow: hidden
}

.contact-section {
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  padding-bottom: 2%;
}

.contact-section .container h2 {
  text-align: center;
  text-decoration: underline;
  text-underline-position: under;
  color: rgb(0, 0, 0);
  letter-spacing: 2px;
  font-family: 'Dancing Script', cursive;

}

.contact-form i.fa {
  font-size: 22px;
  padding: 3%;
  background-color: none;
  border-radius: 80%;
  margin: 2%;
  cursor: pointer;
  border: 2px solid rgb(0, 0, 0);
  color: rgb(0, 0, 0);
}

.contact-form i.fa:hover {
  cursor: pointer;
  border: 2px solid #3f51b5;
  color: #3f51b5;
}

.contact-form {
  display: grid;
  grid-template-columns: auto auto;
}

.form-info {
  font-size: 16px;
  font-style: italic;
  letter-spacing: 2px;
}

@media (max-width: 768px){
  .contact-section .contact-form {
    display: block;
    width: 100%;
    text-align: center;
  }
  
  .contact-section .submit {
    width: 60
  }
 
}








