<div class="contact-body">
<section id="contactsection">
<div class="container">
  <h1>Contact Us</h1>
   <div class="contact-form">
    
    <div>
      <i class="fa fa-map-marker"></i><span class="form-info">Collage Road </span>
      <i class="fa fa-phone"></i><span class="form-info">Phone no +91-8237416310 </span>
      <i class="fa fa-envelope"></i><span class="form-info">nalinkode35@gmail.com </span> 
    </div>
    
    <div>
      <form>
        <input type="text" placeholder="Full Name" required>
        <input type="tel" placeholder="Mobile Number" required>
        <input type="email" placeholder="E-mail" required>
        <input type="text" placeholder="Your Name" required>
        <textarea placeholder="Write a message here..." rows="5" required></textarea>
      </form>
    </div> 


   </div>
    
    

</div>
</section>
</div>