@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');

.selector-for-some-widget {
  box-sizing: content-box;
}

.footer {
   padding: 30px 0;
   background-color: #00;
   border-top: 1px solid rgb(0, 0, 0)
}